.footer {
  padding: 64px 32px;
  text-align: center;
  background-color: rgb(247, 251, 251);
}

.text {
  font-size: 0.8rem;
  color: rgb(140, 149, 161);
}

.link {
  text-decoration: none;
  color: rgb(95, 101, 109);
}

.link:hover {
  color: rgb(27, 33, 37);
}