.home {
  text-align: center;
  padding-top: 50px;
  min-height: 100vh;
}

.page-link {
  display: inline-block;
  width: 60%;
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
  margin: 0 auto 20px;
  color: rgb(27, 33, 37);
  background-color: #EEF7FC;
}

.page-link:hover {
  color: #000;
}

.more-text {
  color: #335;
}

.footer {
  position: absolute;
  bottom: 0;
}